/*Variables Colores*/

$nero: #2a9d8f;
$dimGray: #666;
$max-red: #264653;
$subtitle: #2a9d8f;
$icons: #b5179e;
$snow: #fafafa;


/*Variables fuentes*/

$fontLibre: 'Libre Franklin', sans-serif;
$fontKaushan: 'Kaushan Script';



/*Transition*/

$transition: all 0.2s ease;